.date-label {
  color: black;
  cursor: pointer;
  font-weight: bold;
  margin: 4px 0;
}

.date-label:hover {
  color: #3f586c;
}

.week-type {
  margin: 0 5px 0 10px;
}

.title {
  color: #3f586c;
  border: 3px solid #3f586c;
  padding: 10px;
  font-family: "Helvetica Neue", sans-serif;
  letter-spacing: 2px;
  box-shadow: 0px 5px 20px rgba(0, 0, 0, 0.2);
  margin: 1rem;
}
